:root {
    --sickly-yellow: #cbe346;
    --pale-gray: #f3f4f8;
    --white: #fff;
    --grey: #ebebeb;
    --warm-grey: #787878;
    --dark: #1e2335;
    --dark-two: #2b3049;
    --dark-three: #282e47;
}
