<section class="hero hero-homepage">
    <div class="hero-homepage__content">
        <div class="hero-slide__img">
            <img src="{{ 'banner-home.webp' | asset_url }}" alt="Banner Home" />
        </div>
        <div class="hero-content__text">
            <h1>Las mejores raquetas para jugar <strong>Tennis</strong></h1>
            <a href="#" class="btn btn-template-1">ACERCA DE NOSOTROS</a>
        </div>
    </div>
</section>
