footer {
    background-color: var(--sickly-yellow);
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 66px;
    padding-bottom: 58px;

    @include media(md) {
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 78px 0 63px;
        max-width: 1440px;
        margin: auto;

        @include media(md) {
            flex-direction: column;
            padding: 0 20px;
        }

        &__left {
            @include media(md) {
                order: 2;
            }

            nav {
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1.14px;
                color: var(--dark-two);
                ul {
                    display: flex;
                    gap: 50px;

                    @include media(md) {
                        flex-direction: column;
                        gap: 20px;
                    }

                    a {
                        font-size: 13px;
                        margin: 11px 0;
                        transition: all 0.3s ease-in-out;
                        &.active {
                            font-weight: bold;
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .social-links {
                margin-top: 23px;
                display: flex;
                gap: 12px;
                a {
                    svg {
                        border-radius: 50%;
                    }
                }
            }
        }

        &__right {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5px;

            @include media(md) {
                order: 1;
                padding-top: 0;
                padding-bottom: 20px;
            }

            img {
                width: 55px;
                height: 55px;
            }
        }
    }
}
