@use '../utils/variables';

header {
    position: fixed;
    width: 100%;
    padding-left: 30px;
    padding-top: 19px;
    display: flex;
    z-index: 1000;
    background: transparent;
    transition: all 0.3s ease-in-out;

    @include media(lg) {
        background: var(--sickly-yellow);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &.sticky {
        background: hsla(69, 74%, 58%, 1);
        padding-top: 10px;
        padding-bottom: 10px;

        .menu-links-container {
            padding-top: 10px;
        }
    }

    &.hidden {
        transform: translateY(-100%);
        transition: transform 0.4s ease-in-out;
    }
}

a.logo {
    padding: 6px;
    margin-right: 28px;
    align-self: self-start;
}

.menu-links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 54px;
    padding-right: 94px;
    padding-top: 33px;

    @include media(lg) {
        display: none;
    }

    nav ul.menu-links {
        display: flex;
        list-style: none;
        gap: 32px;
        font-size: 16px;
        letter-spacing: 1.5px;
        color: var(--white);

        li a {
            padding: 10px;
            position: relative;

            &.active {
                font-weight: bold;

                &:before {
                    content: '';
                    position: absolute;
                    left: 10px;
                    bottom: 0px;
                    background-color: var(--white);
                    width: 17px;
                    height: 2px;
                }
            }
        }
    }

    .language-select {
        display: flex;
        color: var(--white);
        font-size: 13px;
        margin-top: -5px;
        a {
            padding: 10px;
            font-weight: normal;
            font-style: normal;
            line-height: 1;
            &.active,
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 25px;
    position: absolute;
    right: 30px;
    cursor: pointer;
    display: none;

    @include media(lg) {
        display: block;
    }
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--sickly-yellow);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li a {
            display: block;
            padding: 10px 20px;
            color: var(--white);
            text-decoration: none;
            transition: background-color 0.2s ease;
        }
    }
}
