:root {
  --sickly-yellow: #cbe346;
  --pale-gray: #f3f4f8;
  --white: #fff;
  --grey: #ebebeb;
  --warm-grey: #787878;
  --dark: #1e2335;
  --dark-two: #2b3049;
  --dark-three: #282e47;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-BoldItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeue-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-ThinItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeue-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeue-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --sickly-yellow: #cbe346;
  --pale-gray: #f3f4f8;
  --white: #fff;
  --grey: #ebebeb;
  --warm-grey: #787878;
  --dark: #1e2335;
  --dark-two: #2b3049;
  --dark-three: #282e47;
}

header {
  position: fixed;
  width: 100%;
  padding-left: 30px;
  padding-top: 19px;
  display: flex;
  z-index: 1000;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  header {
    background: var(--sickly-yellow);
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
header.sticky {
  background: hsl(69, 74%, 58%);
  padding-top: 10px;
  padding-bottom: 10px;
}
header.sticky .menu-links-container {
  padding-top: 10px;
}
header.hidden {
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

a.logo {
  padding: 6px;
  margin-right: 28px;
  align-self: self-start;
}

.menu-links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 54px;
  padding-right: 94px;
  padding-top: 33px;
}
@media (max-width: 992px) {
  .menu-links-container {
    display: none;
  }
}
.menu-links-container nav ul.menu-links {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: var(--white);
}
.menu-links-container nav ul.menu-links li a {
  padding: 10px;
  position: relative;
}
.menu-links-container nav ul.menu-links li a.active {
  font-weight: bold;
}
.menu-links-container nav ul.menu-links li a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 0px;
  background-color: var(--white);
  width: 17px;
  height: 2px;
}
.menu-links-container .language-select {
  display: flex;
  color: var(--white);
  font-size: 13px;
  margin-top: -5px;
}
.menu-links-container .language-select a {
  padding: 10px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}
.menu-links-container .language-select a.active, .menu-links-container .language-select a:hover {
  font-weight: bold;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 25px;
  position: absolute;
  right: 30px;
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .menu-toggle {
    display: block;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--sickly-yellow);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}
.dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown ul li a {
  display: block;
  padding: 10px 20px;
  color: var(--white);
  text-decoration: none;
  transition: background-color 0.2s ease;
}

footer {
  background-color: var(--sickly-yellow);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 66px;
  padding-bottom: 58px;
}
@media (max-width: 768px) {
  footer {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 78px 0 63px;
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 768px) {
  footer .footer-content {
    flex-direction: column;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  footer .footer-content__left {
    order: 2;
  }
}
footer .footer-content__left nav {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.14px;
  color: var(--dark-two);
}
footer .footer-content__left nav ul {
  display: flex;
  gap: 50px;
}
@media (max-width: 768px) {
  footer .footer-content__left nav ul {
    flex-direction: column;
    gap: 20px;
  }
}
footer .footer-content__left nav ul a {
  font-size: 13px;
  margin: 11px 0;
  transition: all 0.3s ease-in-out;
}
footer .footer-content__left nav ul a.active {
  font-weight: bold;
}
footer .footer-content__left nav ul a:hover {
  text-decoration: underline;
}
footer .footer-content__left .social-links {
  margin-top: 23px;
  display: flex;
  gap: 12px;
}
footer .footer-content__left .social-links a svg {
  border-radius: 50%;
}
footer .footer-content__right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
@media (max-width: 768px) {
  footer .footer-content__right {
    order: 1;
    padding-top: 0;
    padding-bottom: 20px;
  }
}
footer .footer-content__right img {
  width: 55px;
  height: 55px;
}

.btn {
  height: 53px;
  padding: 15px 38px;
  border-radius: 26.5px;
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
  list-style: 2.15;
  font-weight: 500;
  letter-spacing: 1.01px;
  display: inline-flex;
  align-items: center;
}
.btn:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='6' viewBox='0 0 23 6'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M22.908 2.7L20.428.128a.39.39 0 0 0-.579 0 .425.425 0 0 0 0 .6l1.778 1.843H.413C.165 2.57 0 2.74 0 3c0 .257.165.428.413.428h21.213l-1.779 1.844a.425.425 0 0 0 0 .6.44.44 0 0 0 .29.128.44.44 0 0 0 .289-.129l2.48-2.572a.531.531 0 0 0 .002-.6z'/%3E%3C/svg%3E%0A");
  position: absolute;
  width: 23px;
  height: 6px;
  right: 38px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.btn:hover:before {
  right: 18px;
}

.btn-template-1 {
  color: white;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease;
  width: 269px;
  height: 53px;
  padding: 15px 39px 15px 30px;
  border-radius: 26.5px;
  border: solid 1px var(--white);
}

.btn-template-2 {
  padding: 15px 38px;
  color: #273048;
  border: 1px solid var(--dark-three);
  border-radius: 25px;
  min-width: 234px;
}
.btn-template-2:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='6' viewBox='0 0 23 6'%3E%3Cpath fill='%2329304A' fill-rule='evenodd' d='M22.908 2.7L20.428.128a.39.39 0 0 0-.579 0 .425.425 0 0 0 0 .6l1.778 1.843H.413C.165 2.57 0 2.74 0 3c0 .257.165.428.413.428h21.213l-1.779 1.844a.425.425 0 0 0 0 .6.44.44 0 0 0 .29.128.44.44 0 0 0 .289-.129l2.48-2.572a.531.531 0 0 0 .002-.6z'/%3E%3C/svg%3E");
}

:root {
  --sickly-yellow: #cbe346;
  --pale-gray: #f3f4f8;
  --white: #fff;
  --grey: #ebebeb;
  --warm-grey: #787878;
  --dark: #1e2335;
  --dark-two: #2b3049;
  --dark-three: #282e47;
}

.hero-homepage {
  position: relative;
}
.hero-homepage__content {
  height: 100vh;
  position: relative;
}
.hero-homepage__content:before {
  content: "";
  position: absolute;
  left: 105px;
  top: 0;
  width: 2px;
  background-color: var(--white);
  height: 101vh;
}
.hero-homepage__content img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}
@media (max-width: 992px) {
  .hero-homepage__content img {
    object-fit: cover;
  }
}
.hero-homepage__content .hero-content__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 170px;
  width: 49.2361111111%;
  color: var(--white);
}
@media (max-width: 992px) {
  .hero-homepage__content .hero-content__text {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
}
.hero-homepage__content .hero-content__text h1 {
  font-size: 53px;
  font-weight: normal;
  line-height: 1.28;
  letter-spacing: -0.05px;
  color: var(--white);
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  .hero-homepage__content .hero-content__text h1 {
    text-wrap: pretty;
  }
  .hero-homepage__content .hero-content__text h1 br {
    display: none;
  }
}
.hero-homepage__content .hero-content__text h1 strong {
  color: var(--sickly-yellow);
}

.section-2 {
  background-color: var(--pale-gray);
  padding-top: 91px;
  padding-bottom: 67px;
  display: flex;
  min-height: 392px;
}
@media (max-width: 992px) {
  .section-2 {
    flex-direction: column;
  }
}
.section-2__category-label {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: 2;
  letter-spacing: 1.87px;
  text-align: right;
  color: var(--sickly-yellow);
  width: 174px;
  padding-left: 33px;
  padding-top: 15px;
  margin-left: 17.92%;
}
@media (max-width: 992px) {
  .section-2__category-label {
    margin-left: 0;
    padding-left: 30px;
    width: fit-content;
    text-align: center;
  }
}
.section-2__content {
  width: 38.5416666667%;
  margin: 0 0 15px 51px;
}
@media (max-width: 992px) {
  .section-2__content {
    width: 100%;
    padding: 0 30px;
    margin: 0;
  }
}
.section-2__content h2 {
  color: var(--dark);
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.06px;
  word-break: break-all;
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  .section-2__content h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
.section-2__content p {
  margin: 0 162px 0 0;
  font-family: HelveticaNeue;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.51px;
  color: var(--warm-grey);
}
@media (max-width: 992px) {
  .section-2__content p {
    font-size: 14px;
  }
}
.section-2__button-container {
  display: flex;
  align-items: end;
  padding-right: 168px;
}
@media (max-width: 992px) {
  .section-2__button-container {
    margin-top: 30px;
    padding-left: 30px;
  }
}

.section-3 {
  display: flex;
}
@media (max-width: 768px) {
  .section-3 {
    flex-direction: column;
  }
}
.section-3 .slider-left-container {
  width: 530px;
  height: 468px;
  position: relative;
  flex: 0 0 530px;
}
@media (max-width: 768px) {
  .section-3 .slider-left-container {
    width: 100%;
    min-height: 468px;
    height: auto;
    flex: 1 0 auto;
  }
}
.section-3 .slider-left-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}
@media (max-width: 768px) {
  .section-3 .slider-left-container img {
    object-fit: cover;
  }
}
.section-3 .slider-left-container .productLeftSwiper {
  padding-bottom: 43px;
}
.section-3 .slider-left-container .productLeftSwiper .swiper-pagination {
  padding-left: 200px;
  padding-right: 27px;
  text-align: left;
  bottom: 0;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (max-width: 768px) {
  .section-3 .slider-left-container .productLeftSwiper .swiper-pagination {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section-3 .slider-left-container .productLeftSwiper .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  margin: 0 24px 0 0;
  object-fit: contain;
  background-color: var(--grey);
  opacity: 1;
}
.section-3 .slider-left-container .productLeftSwiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--sickly-yellow);
}
.section-3 .slider-left-container .productLeftSwiper .swiper-arrows-wrapper {
  display: flex;
  gap: 19px;
  padding-left: 190px;
  padding-right: 27px;
}
@media (max-width: 768px) {
  .section-3 .slider-left-container .productLeftSwiper .swiper-arrows-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section-3 .slider-left-container .productLeftSwiper .swiper-arrows-wrapper .swiper-arrow {
  width: 54px;
  height: 54px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: disabled;
}
.section-3 .slider-left-container .productLeftSwiper .swiper-arrows-wrapper .swiper-arrow.swiper-prev svg {
  transform: rotate(180deg);
  position: relative;
  left: -2px;
}
.section-3 .slider-left-container .productLeftSwiper .swiper-arrows-wrapper .swiper-arrow:not(.swiper-button-disabled) {
  background-color: var(--sickly-yellow);
  border-color: var(--sickly-yellow);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.section-3 .slider-left-container .swiper-slide-content {
  padding-left: 200px;
  padding-top: 38px;
  padding-right: 27px;
}
@media (max-width: 768px) {
  .section-3 .slider-left-container .swiper-slide-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section-3 .slider-left-container .swiper-slide-content h2 {
  font-size: 50px;
  line-height: 1.28;
  font-weight: normal;
  letter-spacing: -0.06px;
  color: var(--white);
  margin-bottom: 12px;
}
.section-3 .slider-left-container .swiper-slide-content h2 strong {
  font-weight: bold;
}
@media (max-width: 992px) {
  .section-3 .slider-left-container .swiper-slide-content h2 {
    font-size: 30px;
  }
}
.section-3 .slider-left-container .swiper-slide-content p {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.51px;
  font-weight: normal;
  color: var(--white);
}
@media (max-width: 992px) {
  .section-3 .slider-left-container .swiper-slide-content p {
    font-size: 14px;
  }
}
.section-3 .slider-right-container {
  padding-top: 51px;
  padding-bottom: 73px;
  position: relative;
  display: flex;
  overflow: hidden;
}
@media (max-width: 768px) {
  .section-3 .slider-right-container {
    padding-bottom: 50px;
  }
}
.section-3 .slider-right-container .swiper-wrapper {
  padding-left: 52px;
}
.section-3 .slider-right-container .swiper-slide {
  min-width: 288px;
  max-width: 288px;
  position: relative;
}
.section-3 .slider-right-container .swiper-slide span {
  background-color: var(--sickly-yellow);
  border-radius: 50%;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 17px;
  line-height: 1.76;
  text-align: center;
  top: 11px;
  left: 17px;
  color: var(--white);
}
.section-3 .slider-right-container .swiper-slide-active {
  margin-right: 31px !important;
}
@media (max-width: 768px) {
  .section-3 .slider-right-container .swiper-slide-active {
    margin-right: 30px !important;
  }
}
.section-3 .slider-right-container .swiper-slide-prev {
  margin-right: 36px !important;
  opacity: 1;
}
@media (max-width: 768px) {
  .section-3 .slider-right-container .swiper-slide-prev {
    margin-left: 0 !important;
    margin-right: 30px !important;
  }
}

.section-4 {
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
